<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head lang="it">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title th:text="#{surveyboat.title}">Play&amp;Go - Questionario Bella Coincidenza</title>
<link href="../../../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../../css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="../../../../css/gg_style.css" rel="stylesheet" />

<!-- required libraries -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="../../../../lib/jquery.min.js"></script>
<script src="../../../../lib/bootstrap.min.js"></script>
<style>
  textarea {
    width: 100%;
    border: 1px solid #ddd;
  }
  .form-check {
    margin-bottom: 10px;
  }
  .form-group > label {
    font-size: 16px;
    font-style: italic;
  }
  .form-group.has-error > label {
    color: red;
  }
  .form-check-label {
    margin-left: 8px;
    font-weight: 500;
    max-width: calc(100vw - 52px);
    vertical-align: middle;
  }
</style>

</head>
<body>
	<div class="container">
		<h3 style="text-align: center;">Questionario
			Play&amp;Go - Bella Coincidenza</h3>
		<form id="form" role="form" name="form" method="POST">
      <input type="hidden" name="completeTemplate" value="survey/bellaCoincidenza_complete">
      <input type="hidden" name="multi" value="true">
			<div class="first-page">

				<p >Usare bicicletta e treno ti fa risparmiare tempo e riduce la tua impronta ecologica, ok… ma per farlo devi uscire dalla zona di comfort indotta dall’uso dell’auto privata: serve un po’ di iniziativa e determinazione, soprattutto le prime volte.</p>
				
				<p >Questo questionario è anche un invito a informarsi e impegnarsi, per essere parte di un cambiamento più ampio, che ha bisogno dell’impegno quotidiano di tutte e tutti.</p>
        <br>  
      
        <h4>1. TRENO + BICI: LE BASI</h4>
        <div class="form-group q">
          <label>Su quali treni puoi portare la bicicletta? (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check"><input name="q1" class="form-check-input" type="checkbox" value="1" id="q11"><label class="form-check-label" for="q11">sui treni regionali di FS e sui nazionali delle varie compagnie (intercity, alta velocità, etc.)</label></div>
          <div class="form-check"><input name="q1" class="form-check-input" type="checkbox" value="2" id="q12"><label class="form-check-label" for="q12">sui treni regionali di FS con il pittogramma (simbolo) della bici e su alcuni treni intercity di FS</label></div>
          <div class="form-check"><input name="q1" class="form-check-input" type="checkbox" value="3" id="q13"><label class="form-check-label" for="q13">sui treni di alcune compagnie locali</label></div>
          <div class="form-check"><input name="q1" class="form-check-input" type="checkbox" value="4" id="q14"><label class="form-check-label" for="q14">su alcuni treni internazionali di compagnie estere</label></div>
          <div class="form-check"><input name="q1" class="form-check-input" type="checkbox" value="5" id="q15"><label class="form-check-label" for="q15">su nessun tipo di treno</label></div>
        </div>

        <h4>2. CHE TIPO DI BICI? </h4>
        <div class="form-group q">
          <label>In base al tipo di bicicletta ci sono diverse opzioni di trasporto: (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check"><input name="q2" class="form-check-input" type="checkbox" value="1" id="q21"><label class="form-check-label" for="q21">si può trasportare una bici pieghevole su tutti i tipi di treno, sistemandola negli spazi previsti per i bagagli</label></div>
          <div class="form-check"><input name="q2" class="form-check-input" type="checkbox" value="2" id="q22"><label class="form-check-label" for="q22">non si possono trasportare bici elettriche</label></div>
          <div class="form-check"><input name="q2" class="form-check-input" type="checkbox" value="3" id="q23"><label class="form-check-label" for="q23">è possibile trasportare una bicicletta montata sui treni regionali con il simbolo della bici</label></div>
          <div class="form-check"><input name="q2" class="form-check-input" type="checkbox" value="4" id="q24"><label class="form-check-label" for="q24">si possono trasportare tutte le tipologie di biciclette senza limitazione di dimensioni</label></div>
          <div class="form-check"><input name="q2" class="form-check-input" type="checkbox" value="5" id="q25"><label class="form-check-label" for="q25">si può trasportare una bici smontata e contenuta in una sacca su tutti i tipi di treno, sistemandola negli spazi previsti per i bagagli</label></div>
        </div>

        <h4>3. QUANTO COSTA?</h4>
        <div class="form-group q">
          <label>Il trasporto della bicicletta sul treno è gratis oppure no?  (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="1" id="q31"><label class="form-check-label" for="q31">il costo varia in base alle dimensioni della bici e ai giorni (festivi / feriali)</label></div>
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="2" id="q32"><label class="form-check-label" for="q32">bisogna pagare il supplemento bici oppure un secondo biglietto per la stessa tratta che si percorre</label></div>
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="3" id="q33"><label class="form-check-label" for="q33">è gratis</label></div>
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="4" id="q34"><label class="form-check-label" for="q34">il costo è stabilito dalle norme dall’azienda di trasporto e/o dalla regione: in alcuni casi è gratis</label></div>
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="5" id="q35"><label class="form-check-label" for="q35">il costo varia in base alla lunghezza della tratta</label></div>
        </div>

        <h4>4. COME RAGGIUNGERE IL TRENO? </h4>
        <div class="form-group q">
          <label>Quando si arriva in stazione in bicicletta per raggiungere il binario di partenza: (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check"><input name="q4" class="form-check-input" type="checkbox" value="1" id="q41"><label class="form-check-label" for="q41">è possibile impiegare ascensori e rampe</label></div>
          <div class="form-check"><input name="q4" class="form-check-input" type="checkbox" value="2" id="q42"><label class="form-check-label" for="q42">si può salire sulla bicicletta e andare in cerca di una rampa o ascensore</label></div>
          <div class="form-check"><input name="q4" class="form-check-input" type="checkbox" value="3" id="q43"><label class="form-check-label" for="q43">occorre portare la bicicletta a mano in tutti gli spazi</label></div>
          <div class="form-check"><input name="q4" class="form-check-input" type="checkbox" value="4" id="q44"><label class="form-check-label" for="q44">si deve cercare la zona del binario destinata al caricamento delle biciclette</label></div>
        </div>

        <h4>5. DOVE LASCIARE LA BICI IN STAZIONE? </h4>
        <div class="form-group q">
          <label>Nel caso non si dovesse portare con sé la bici, ci sono diverse opzioni: (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check"><input name="q5" class="form-check-input" type="checkbox" value="1" id="q51"><label class="form-check-label" for="q51">cercando online (su www.opencyclemap.org o Google Maps) parcheggi custoditi, velostazioni e rastrelliere</label></div>
          <div class="form-check"><input name="q5" class="form-check-input" type="checkbox" value="2" id="q52"><label class="form-check-label" for="q52">legandola al primo palo disponibile</label></div>
          <div class="form-check"><input name="q5" class="form-check-input" type="checkbox" value="3" id="q53"><label class="form-check-label" for="q53">cercando tramite un motore di ricerca ‘parcheggi biciclette stazione + nome della città'</label></div>
          <div class="form-check"><input name="q5" class="form-check-input" type="checkbox" value="4" id="q54"><label class="form-check-label" for="q54">cercare gli indirizzi di parcheggi custoditi e velostazioni su www.trenitalia.com</label></div>
          <div class="form-check"><input name="q5" class="form-check-input" type="checkbox" value="5" id="q55"><label class="form-check-label" for="q55">arrivando con un po’ di anticipo in stazione ci si può informare sulla presenza di parcheggi custoditi o rastrelliere</label></div>
        </div>
				
			  <div class="form-group">
        <button id="check" type="button" class="btn btn-primary"
          onClick="highlightIncomplete(null, true)">Avanti</button>
      </div>        
				
				
			</div>

		</form>

	</div>


  <script th:inline="javascript">
/*<![CDATA[*/
  var first = true;  
  
    
  function highlightIncomplete(event, proceed) {
    var next = true;    
    var first = null;
    $('.q').each(function(idx) {
    	var v = $(this).find('input:checked'); 
      if (!v.val()) {
        $(this).addClass('has-error');
        if (!first) first = $(this).get(0);
        next = false;
      } else {
        $(this).removeClass('has-error');
      }
    });
    if (first && proceed) {
        first.scrollIntoView({
            behavior: 'smooth' 
          });
    }
    if (next && proceed) {
    	$('form').submit();
    }
  }
  
	  
  $('input').change(highlightIncomplete);
/*]]>*/
</script>
</body>
</html>