<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head lang="it">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title th:text="#{surveyboat.title}">Play&amp;Go - Questionario Bella Coincidenza</title>
<link href="../../../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../../css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="../../../../css/gg_style.css" rel="stylesheet" />

<!-- required libraries -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="../../../../lib/jquery.min.js"></script>
<script src="../../../../lib/bootstrap.min.js"></script>
<style>
  textarea {
    width: 100%;
    border: 1px solid #ddd;
  }
  .form-check {
    margin-bottom: 10px;
  }
  .form-group > label {
    font-size: 16px;
    font-style: italic;
  }
  .form-group.has-error > label {
    color: #dc3545;
  }
  
  input:checked {
    color: #28a745;
  }
  
  .form-check-label {
    margin-left: 8px;
    font-weight: 500;
    max-width: calc(100vw - 52px);
    vertical-align: middle;
  }
  .form-check.vero label {
    color: #28a745;
    font-weight: bold;
  }
  .form-check:not(.vero) label {
    color: #dc3545;
  }
  
  
</style>

</head>
<body>
	<div class="container">
		<h3 style="text-align: center;">Questionario
			Play&amp;Go - Bella Coincidenza</h3>
		<form id="form" role="form" name="form" method="POST">

			<div class="first-page">

				<h4>Grazie per aver compilato il questionario!</h4>
				<p>L’abbiamo sviluppato insieme ai promotori della campagna Bella Coincidenza***, che ha diffuso consigli, domande e punti di vista sull’intermodalità bici + treno in Emilia Romagna. 
Ti consigliamo di approfondire informazioni pratiche sul sito della campagna, in particolare:</p>
        <ul>
        <li><a href="https://www.montesolebikegroup.it/2020/09/bici-treno-come-iniziare/">Come iniziare</a></li>
        <li><a href="https://www.montesolebikegroup.it/2020/10/intermodalita-consigli-pratici/">Consigli pratici</a></li>
        <li><a href="https://www.montesolebikegroup.it/2020/11/stazioni-parcheggi-rastrelliere/ ">Lasciare la bici in stazione</a></li>
        </ul>
        <br>
        <p>*** La campagna “Bella Coincidenza” è stata promossa da FIAB Bologna Monte Sole Bike Group e L’Altra Babele nell’ambito del progetto MIX YOUR MOVE, finanziato dalla Regione Emilia-Romagna, attraverso la Legge Regionale 10/2017.</p>
				
				<h3>Risposte corrette</h3>
        <h4>1. TRENO + BICI: LE BASI</h4>
        <div class="form-group q">
          <label>Su quali treni puoi portare la bicicletta? (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check"><input name="q1" class="form-check-input" type="checkbox" value="q11" id="q11"><label class="form-check-label" for="q11">sui treni regionali di FS e sui nazionali delle varie compagnie (intercity, alta velocità, etc.)</label></div>
          <div class="form-check vero"><input name="q1" class="form-check-input" type="checkbox" value="q12" id="q12" checked><label class="form-check-label" for="q12">sui treni regionali di FS con il pittogramma (simbolo) della bici e su alcuni treni intercity di FS</label></div>
          <div class="form-check vero"><input name="q1" class="form-check-input" type="checkbox" value="q13" id="q13" checked><label class="form-check-label" for="q13">sui treni di alcune compagnie locali</label></div>
          <div class="form-check vero"><input name="q1" class="form-check-input" type="checkbox" value="q14" id="q14" checked><label class="form-check-label" for="q14">su alcuni treni internazionali di compagnie estere</label></div>
          <div class="form-check"><input name="q1" class="form-check-input" type="checkbox" value="q15" id="q15"><label class="form-check-label" for="q15">su nessun tipo di treno</label></div>
        </div>

        <h4>2. CHE TIPO DI BICI? </h4>
        <div class="form-group q">
          <label>In base al tipo di bicicletta ci sono diverse opzioni di trasporto: (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check vero"><input name="q2" class="form-check-input" type="checkbox" value="q21" id="q21" checked><label class="form-check-label" for="q21">si può trasportare una bici pieghevole su tutti i tipi di treno, sistemandola negli spazi previsti per i bagagli</label></div>
          <div class="form-check"><input name="q2" class="form-check-input" type="checkbox" value="q22" id="q22"><label class="form-check-label" for="q22">non si possono trasportare bici elettriche</label></div>
          <div class="form-check vero"><input name="q2" class="form-check-input" type="checkbox" value="q23" id="q23" checked><label class="form-check-label" for="q23">è possibile trasportare una bicicletta montata sui treni regionali con il simbolo della bici</label></div>
          <div class="form-check"><input name="q2" class="form-check-input" type="checkbox" value="q24" id="q24"><label class="form-check-label" for="q24">si possono trasportare tutte le tipologie di biciclette senza limitazione di dimensioni</label></div>
          <div class="form-check vero"><input name="q2" class="form-check-input" type="checkbox" value="q25" id="q25" checked><label class="form-check-label" for="q25">si può trasportare una bici smontata e contenuta in una sacca su tutti i tipi di treno, sistemandola negli spazi previsti per i bagagli</label></div>
        </div>

        <h4>3. QUANTO COSTA?</h4>
        <div class="form-group q">
          <label>Il trasporto della bicicletta sul treno è gratis oppure no?  (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="q31" id="q31"><label class="form-check-label" for="q31">il costo varia in base alle dimensioni della bici e ai giorni (festivi / feriali)</label></div>
          <div class="form-check vero"><input name="q3" class="form-check-input" type="checkbox" value="q32" id="q32" checked><label class="form-check-label" for="q32">bisogna pagare il supplemento bici oppure un secondo biglietto per la stessa tratta che si percorre</label></div>
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="q33" id="q33"><label class="form-check-label" for="q33">è gratis</label></div>
          <div class="form-check vero"><input name="q3" class="form-check-input" type="checkbox" value="q34" id="q34" checked><label class="form-check-label" for="q34">il costo è stabilito dalle norme dall’azienda di trasporto e/o dalla regione: in alcuni casi è gratis</label></div>
          <div class="form-check"><input name="q3" class="form-check-input" type="checkbox" value="q35" id="q35"><label class="form-check-label" for="q35">il costo varia in base alla lunghezza della tratta</label></div>
        </div>

        <h4>4. COME RAGGIUNGERE IL TRENO? </h4>
        <div class="form-group q">
          <label>Quando si arriva in stazione in bicicletta per raggiungere il binario di partenza: (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check vero"><input name="q4" class="form-check-input" type="checkbox" value="q41" id="q41" checked><label class="form-check-label" for="q41">è possibile impiegare ascensori e rampe</label></div>
          <div class="form-check"><input name="q4" class="form-check-input" type="checkbox" value="q42" id="q42"><label class="form-check-label" for="q42">si può salire sulla bicicletta e andare in cerca di una rampa o ascensore</label></div>
          <div class="form-check vero"><input name="q4" class="form-check-input" type="checkbox" value="q43" id="q43" checked><label class="form-check-label" for="q43">occorre portare la bicicletta a mano in tutti gli spazi</label></div>
          <div class="form-check"><input name="q4" class="form-check-input" type="checkbox" value="q44" id="q44"><label class="form-check-label" for="q44">si deve cercare la zona del binario destinata al caricamento delle biciclette</label></div>
        </div>

        <h4>5. DOVE LASCIARE LA BICI IN STAZIONE? </h4>
        <div class="form-group q">
          <label>Nel caso non si dovesse portare con sé la bici, ci sono diverse opzioni: (Risposta multipla. Più risposte sono corrette)</label> 
          <div class="form-check vero"><input name="q5" class="form-check-input" type="checkbox" value="q51" id="q51" checked><label class="form-check-label" for="q51">cercando online (su www.opencyclemap.org o Google Maps) parcheggi custoditi, velostazioni e rastrelliere</label></div>
          <div class="form-check"><input name="q5" class="form-check-input" type="checkbox" value="q52" id="q52"><label class="form-check-label" for="q52">legandola al primo palo disponibile</label></div>
          <div class="form-check vero"><input name="q5" class="form-check-input" type="checkbox" value="q53" id="q53" checked><label class="form-check-label" for="q53">cercando tramite un motore di ricerca ‘parcheggi biciclette stazione + nome della città'</label></div>
          <div class="form-check"><input name="q5" class="form-check-input" type="checkbox" value="q54" id="q54"><label class="form-check-label" for="q54">cercare gli indirizzi di parcheggi custoditi e velostazioni su www.trenitalia.com</label></div>
          <div class="form-check vero"><input name="q5" class="form-check-input" type="checkbox" value="q55" id="q55" checked><label class="form-check-label" for="q55">arrivando con un po’ di anticipo in stazione ci si può informare sulla presenza di parcheggi custoditi o rastrelliere</label></div>
        </div>				
			</div>

		</form>

	</div>
</body>
</html>