<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head lang="it">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title th:text="#{survey.title}">Play&amp;Go - Questionario
	finale</title>
<link href="../../../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../../css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="../../../../css/gg_style.css" rel="stylesheet" />

<!-- required libraries -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script src="../../../../lib/jquery.min.js"></script>
<script src="../../../../lib/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<h3 th:text="#{survey.head}" style="text-align: center;">Questionario
			Play&amp;Go</h3>
		<form id="form" role="form" name="form" method="POST">

			<div class="first-page">

				<label th:text="#{survey.acc1}">acc1</label> <br />
				<ol>
				  <li th:each="prod: ${#numbers.sequence(1, 24)}">
				  <div>
          <fieldset th:id="|fs${prod}|">
            <p><span th:text="#{survey.q + ${prod}}">Q</span></p>
            <span style="font-size: 12px" th:text="#{survey.acc2.1}"></span>
            <span style="font-size: 12px" th:text="#{survey.acc2.2}"></span>
            <br />
            <span th:id="|el${prod}|" class="small_b" th:each="val: ${#numbers.sequence(1, 7)}"> 
              <input type="radio" th:id="|r${prod}-${val}|" th:name="|q${prod}|" th:value="${val}" /> 
              <label th:for="|r${prod}-${val}|" th:text="${val}">1</label>
            </span>
          </fieldset>				  
				  </div>
				  </li>
				</ol>

				<div class="form-group">
					<label for="mean" th:text="#{survey.mean}">Quale dei
						seguenti mezzi utilizzi più di frequente per i tuoi spostamenti
						quotidiani?</label> <select name="mean" id="mean" class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="auto" th:text="#{survey.mean.1}"></option>
						<option value="public" th:text="#{survey.mean.2}"></option>
						<option value="bike" th:text="#{survey.mean.3}"></option>
						<option value="walk" th:text="#{survey.mean.4}"></option>
						<option value="bikesharing" th:text="#{survey.mean.5}"></option>
						<option value="carsharing" th:text="#{survey.mean.6}"></option>
					</select>
				</div>

				<div class="form-group" th:each="mean: ${new String[]{'bus','train','car','bike','walk'}}">
					<label th:text="#{survey.means. + ${mean}}">mean</label> <select
						th:name="|mean-${mean}|" th:id="|mean-${mean}|"
						class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option th:value="1"
							th:text="#{survey.frequency.1}"></option>
						<option th:value="2"
							th:text="#{survey.frequency.2}"></option>
						<option th:value="3"
							th:text="#{survey.frequency.3}"></option>
						<option th:value="3"
							th:text="#{survey.frequency.4}"></option>
						<option th:value="5"
							th:text="#{survey.frequency.5}"></option>
						<option th:value="6"
							th:text="#{survey.frequency.6}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="kms" th:text="#{survey.kms}">Quanti Km percorri
						in media ogni giorno?</label> <select name="kms" id="kms"
						class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="0-5" th:text="#{survey.kms.1}"></option>
						<option value="5-10" th:text="#{survey.kms.2}"></option>
						<option value="10-30" th:text="#{survey.kms.3}"></option>
						<option value="30+" th:text="#{survey.kms.4}"></option>
					</select>
				</div>

				<div class="form-group">
					<label for="age" th:text="#{survey.age}">Età</label> <select
						name="age" id="age" class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="0-20" th:text="#{survey.age.1}">&lt; 20
							anni</option>
						<option value="20-35" th:text="#{survey.age.2}">20 - 35
							anni</option>
						<option value="35-50" th:text="#{survey.age.3}">35 - 50
							anni</option>
						<option value="50-70" th:text="#{survey.age.4}">50 - 70
							anni</option>
						<option value="70+" th:text="#{survey.age.5}">&gt; 70
							anni</option>
					</select>
				</div>

				<div class="form-group">
					<label for="gender" th:text="#{survey.gender}">Genere:</label> <select
						name="gender" id="gender" class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="femmina" th:text="#{survey.gender.f}">Femmina</option>
						<option value="maschio" th:text="#{survey.gender.m}">Maschio</option>
					</select>
				</div>

				<div class="form-group">
					<label for="residence" th:text="#{survey.residence}">Qual é
						il tuo Comune di residenza?</label> <select name="residence"
						id="residence" class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="Trento" th:text="#{survey.residence.1}"></option>
						<option value="Rovereto" th:text="#{survey.residence.2}"></option>
						<option value="Other" th:text="#{survey.residence.3}"></option>
					</select>
				</div>
				
				<div class="form-group">
					<label for="source" th:text="#{survey.source}">Come sei
						venuto a conoscenza di questo gioco?</label> <select name="source"
						id="source" class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="poster" th:text="#{survey.source.1}"></option>
						<option value="magazine" th:text="#{survey.source.2}"></option>
						<option value="tvradio" th:text="#{survey.source.3}"></option>
						<option value="events" th:text="#{survey.source.4}"></option>
						<option value="facebook" th:text="#{survey.source.5}"></option>
						<option value="friends" th:text="#{survey.source.6}"></option>
						<option value="other" th:text="#{survey.source.7}"></option>
					</select>
				</div>

 
				<div class="form-group">
					<label for="prev" th:text="#{survey.prev}">Hai partecipato
						a precedenti edizioni di Play&amp;Go?</label> <select name="prev"
						id="prev" class="form-control" onchange="changePart()">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="yes" th:text="#{survey.prev.1}"></option>
						<option value="no" th:text="#{survey.prev.2}"></option>
					</select>
				</div>
				
			<div class="form-group">
				<button id="check" type="button" class="btn btn-primary"
					th:text="#{survey.next}" onClick="highlightIncomplete(false)">NEXT</button>
			</div>				
				
				
			</div>

			<div class="second-page" style="display:none;">
				<div class="form-group">
					<label for="serious" th:text="#{survey.serious}"></label> <select
						name="serious" id="serious" class="form-control">
						<option value="" th:text="#{survey.empty}"></option>
						<option value="yes" th:text="#{survey.serious.1}"></option>
						<option value="no" th:text="#{survey.serious.2}"></option>
					</select>
				</div>

			<div class="form-group">
				<button id="send" type="button" class="btn btn-primary"
					th:text="#{survey.submit}">Submit</button>
			</div>

			</div>



		</form>

	</div>


	<script th:inline="javascript">
/*<![CDATA[*/
	var first = true;
	
	
  function changePart() {
    if ($('#prev').val() == 'yes') {
        $('#inflgroup').show();     
    } else {
          $('#inflgroup').hide();      
    }
  }
 
  $('#send').click(function() {
    if (!checkData()) {
      $('form').submit();     
    }
  });
  
  function highlightIncomplete(blackonly) {
	  var next = true;
	  var qsn = $('fieldset').length;
	  
		for (i = 1; i <= qsn; i++) {
			var v = $("input[name='q" + i + "']:checked")
			var inp = $("span[id=el" + i + "]");
			if (v.val() === undefined) {
				inp.each(function() {
				if (!blackonly) {
					$(this).attr("style", "color:red;");
				}
				next = false;
				});
			} else {
				inp.attr("style", "color:black;");
			}
		} 		  
	  
		$('select:visible').each(function() {
			if ($(this).val().length === 0) {
				if (!blackonly) {
					$(this).attr("style", "color:red;");
				}
				next = false;
			} else {
				$(this).attr("style", "color:black;");
			}
		});			
	  
		if (!blackonly || !first) {
			checkData()
		}
  }
  
  function checkData() {
	var qsn = $('fieldset').length;
	
	var disabled = false;
	  
	for (i = 1; i <= qsn; i++) {
		var v = $("input[name='q" + i + "']:checked").val();
		if (v === undefined) {
			disabled = true;
			break;
		}
	}  
	
	if (disabled === false) {
		$('select:visible').each(function() {
			if ($(this).val().length === 0) {
				disabled = true;
				return;
			}	
		});	
	}
	
	if (disabled === false) {
		if (first) {
			$('.first-page').hide(); 
			$('.second-page').show();
			disabled = true;
			first = false;
		}

	}
	
    $('#send').prop('disabled', disabled);
    return disabled;
  }
  
  $('select').change(highlightIncomplete);
  $('input').change(highlightIncomplete);
  checkData();
/*]]>*/
</script>
</body>
</html>