<h4>Welcome to Ferrara Play&Go Game! </h4>
<div align="justify">
  It’s easy to participate: track your trips with<b>Ferrara Play&amp;Go</b> and choose sustainable
   mobility solutions to earn points and advance in the game. Have fun collecting points,
    badges and test yourself with the weekly challenges. Keep an eye on leaderboards: every week 
    you can win prizes and, while having fun, you can contribute to making your city more sustainable and smart!

</div>
<br />
<h4>How do I play?</h4>
<div align="justify">
  You can track your routes directly in the Home clicking the icons <b>"Walk"</b>, <b>"Bike/Run"</b>, <b>“Bus”</b>,  <b>“Train“</b>,
  <b>“Car pooling”</b> or  <b>“Boat”</b> (the last one is only available during pilot trials of <a href="#" ng-click="openExtLink('http://metropolidipaesaggio.it/')">Metropolis of Landscape</a>). 
   Tracked journeys allow you to earn Green Leaves points in proportion to the km made through sustainable 
   transport (on foot, by bike, on public transport), for the boat and car-pooling there is a fixed score 
   per trip (for the driver in the case of car pooling it varies according to the number of passengers). 
   The trips valid for the game must be made within the Province of Ferrara area. There are daily limits 
   for the number of Km / trips made by the player with the various means (10 Km on foot; 25 Km by bike/run; 
   40 Km by bus; 60 Km by train; 4 car pooling trips; 4 trips by boat). Within the threshold,
    the Km are enhanced more within the first half of the daily limit, the subsequent Km are progressively 
    valued less until the limit is reached, beyond which they no longer contribute to progress in the game.


</div>
<div align="left">
  You can win bonus points in Green Leaves:
  <br>
  <ul class="list-welcome">
    <li>succeeding in your weekly challenges;</li>
    <li>inviting your friends to register to the game: your friend, at registration time, needs to provide your player
      nickname and must be an active player.
    </li>
  </ul>
</div>
<br />
<h4>Prizes and incentives</h4>
<div align="justify">
  During the game you can win <b>weekly and final prizes</b> that reward the top players in the Green Leaves leader
  boards
  (weekly and general, respectively).
  <br />The game is available through App iPhone, but Apple is not sponsoring in any way this game and does not offer
  prizes.
</div>
<div id="firstSeparator"></div>
<div>At the following link you can download the complete rules of the game: <a href="#"  ng-click="openExtLink('https://ferrara.smartcommunitylab.it/playandgo/pdf/regolamento_playgo_2020.pdf')">Ferrara
    Play&amp;Go regulation.</a></div>
<br />
<h4>Data protection and privacy</h4>
<div align="justify">
  In order to allow the game to take place, it is necessary to collect and process the information relating to planned
  and saved journeys, to the route of the trips made via the app, to the results of the game. The personal data of the
  player will be treated in full compliance with the current data protection and privacy legislation, as specified in
  the document <a href="#"  ng-click="openExtLink('https://ferrara.smartcommunitylab.it/playandgo/pdf/privacy_2020.pdf')">Data
    processing and privacy Ferrara Play&amp;Go game</a>
</div>
