<!-- <button class="pulse-button icon ion-map" ng-click="goToMap()" ng-if="buttonMapNeed();">
</button> -->
<div ng-if="notHomeAndMap()">
	<div class="app-track-buttons" ng-class="{'menu-expanded': menuIsOpen()}">
		<button class="button button-map icon ion-map" ng-click="goToMap()"></button>
		<button class="button button-map icon ic_foot" ng-class="{'actual-track':actualTracking('walk')}"
			ng-click="changeTracking('walk',true)"></button>
		<button class="button button-map icon ic_bike" ng-class="{'actual-track':actualTracking('bike')}"
			ng-click="changeTracking('bike',true)"></button>
		<button class="button button-map icon ic_urban-bus" ng-class="{'actual-track':actualTracking('bus')}"
			ng-click="changeTracking('bus',true)"></button>
		<button class="button button-map icon ic_train" ng-class="{'actual-track':actualTracking('train')}"
			ng-click="changeTracking('train',true)"></button>
		<button class="button button-map icon icon-boat icon-disabled" ng-class="{'actual-track':actualTracking('boat')}"
			ng-click="changeTracking('boat',false)"></button>
		<button class="button button-map icon ion-model-s " ng-class="{'actual-track':actualTracking('car')}"
			ng-click="changeTracking('car',false)"></button>
		<button class="button app-track-stop-map" ng-click="stopTracking()"
			ng-class="{'menu-expanded': menuIsOpen()}">STOP</button>
	</div>
</div>
</ion-grid>
<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content drag-menu-content="false" edge-drag-threshold="true">
		<ion-nav-bar class="bar-positive-100"
			ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}"
			align-title="left">
			<ion-nav-buttons side="left">
				<button class="button button-clear" ng-if="!isHomePages();" ng-click="goBackView()">
					<i class="ion-android-arrow-back" style="font-size:30px;"></i>
				</button>
				<button class="button button-icon button-clear" ng-if="isHomePages();" menu-toggle="left">
					<i class="icon ion-navicon"></i>
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-content class="leftmenu">
			<ion-list>
				<div class="fs-header"></div>
				
				<a class="item user-menu-name" nav-clear menu-close ng-click="openProfile();">
					<div class="profile-container">
						<img class="bar-profile-img" ng-if="profileImg" ng-src="{{profileImg}}"
							ng-click="openProfile()">
					</div>
					<div class="user-menu-name">{{currentUser.nickName}}</div>
				</a>
				
				<div class="menu-separator">

				</div>
				
				<ion-item nav-clear menu-close ng-click="goHome()" class="menu-main item-icon-left">
					<i class="icon ic_home"></i>{{'menu_home' | translate}}
				</ion-item>

				
				<ion-item nav-clear menu-close ng-click="openPrizes()" class="menu-main item-icon-left">
					<i class="icon ic_prize"></i>{{'registration_prizes' | translate}}
				</ion-item>	
				<ion-item nav-clear menu-close ng-click="openCompaniesCampaingns()" class="menu-main item-icon-left">
					<i class="icon ion-ribbon-b"></i>{{'companies_campaigns' | translate}}
				</ion-item>	
				<!-- <ion-item nav-clear menu-close ng-click="menuDisabled()" class="menu-main item-icon-left menu-disabled">
					<i class="icon ic_prize"></i>{{'registration_prizes' | translate}}
				</ion-item> -->
				<ion-item nav-clear menu-close ng-click="openRules()" class="menu-main item-icon-left">
					<i class="icon ic_game_rules"></i>{{'menu_rules' | translate}}
				</ion-item>
				<!-- <ion-item nav-clear menu-close ng-click="menuDisabled()" class="menu-main item-icon-left menu-disabled">
					<i class="icon ic_game_rules"></i>{{'menu_rules' | translate}}
				</ion-item> -->
				<ion-item nav-clear menu-close ng-click="openNews()" class="menu-main item-icon-left">
					<i class="icon ic_news"></i>{{'menu_news' | translate}}
				</ion-item>
				<!-- <ion-item nav-clear menu-close ng-click="menuDisabled()" class="menu-main item-icon-left menu-disabled">
					<i class="icon ic_news"></i>{{'menu_news' | translate}}
				</ion-item> -->
				<ion-item nav-clear menu-close href="{{contactLink}}" class="item-icon-left menu-main ">
					<i class="icon ic_segnala_problemi"></i>{{'menu_betatesting_bug' | translate}}
				</ion-item>
				<ion-item nav-clear menu-close ng-click="openFAQ()" class="menu-main item-icon-left">
					<i class="icon ion-help"></i>{{'btn_faq' | translate}}
				</ion-item>	
	
			 <!-- <ion-item nav-clear menu-close ng-click="menuDisabled()" class="menu-main item-icon-left menu-disabled">
					<i class="icon ion-help"></i>{{'btn_faq' | translate}}
				</ion-item> -->
				<ion-item nav-clear menu-close ng-click="openCredits()" class="menu-last item-icon-left">
					<i class="icon ic_info"></i>{{'menu_credits' | translate}}
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
<div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p class="warning-modal"><b>{{'login_title'|translate}} {{'login_subtitle'|translate}}</b>{{'lbl_geolocation'|translate}}</p>
    </div>
  
  </div>