<div class="close-button" ng-click="closePopup()">X</div>
<!-- <div ng-bind-html="messageCorona"> -->
    <ion-content no-bounce class="corona-content">

        <div class="warning-corona-subtitle"> {{'corona_home_subtitle'|translate}}<a href="#"
            onclick="window.open('https://www.ufficiostampa.provincia.tn.it/Comunicati/Emergenza-Coronavirus-i-provvedimenti-relativi-al-trasporto-pubblico-locale2', '_system', 'location=yes'); return false;">
            {{'label_this_page'|translate}}</a></div>
    </ion-content >
    </div>
