<div class="close-button" ng-click="closePopup()">X</div>
<!-- <div ng-bind-html="messageCorona"> -->
    <ion-content no-bounce class="corona-content">

<div class="body-message">
        <div ng-bind-html="messageZero"></div>

{{'message_popup_first'|translate}}  <a href="#" onclick="cordova.InAppBrowser.open('https://www.trentinotrasporti.it/news/5989-emergenza-coronavirus-servizio-elastibus', '_system', 'location=yes'); return false;">{{'message_popup_second'|translate}} </a>).<br> 

{{'message_popup_third'|translate}}  <br>

{{'message_popup_forth'|translate}}  <a href="#" onclick="cordova.InAppBrowser.open('https://www.trentinotrasporti.it/images/allegati/COMUNICAZIONE_04052020.pdf', '_system', 'location=yes'); return false;">{{'message_popup_fifth'|translate}} </a> {{'message_popup_last'|translate}}   
    </ion-content >
    </div>
