<div class="close-button" ng-click="closePopup()">X</div>
<!-- <div ng-bind-html="messageCorona"> -->
    <ion-content no-bounce class="corona-content">

<div class="body-message">
    <div ng-bind-html="messageCorona"></div>
        Servizi di trasporto pubblico urbano di Trento</b>: <a href="#"
        onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-131-20-12032020-114426.pdf', '_system', 'location=yes'); return false;">vedi
        allegato</a> <br>
    <b>Funivia Trento - Sardagna</b>: <a href="#"
        onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-131-20-12032020-114426.pdf', '_system', 'location=yes'); return false;">vedi
        allegato</a><br>
    <b>Ferroviaria R35 Trento - Malè - Mezzana</b>: <a href="#"
        onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-127-20-12032020-115007.pdf', '_system', 'location=yes'); return false;">vedi
        allegato</a><br>
    <b>Ferroviaria R25-R26 Trento - Borgo - Bassano</b>: <a href="#"
        onclick="window.open('http://www.ttesercizio.it//public/Comunicati/Comunicato-141-20-14032020-233310.pdf', '_system', 'location=yes'); return false;">vedi
        allegato</a><br>
    </ion-content >
    </div>
