<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Viaggia Play&amp;Go</title>

<!-- Bootstrap core CSS -->
<link href="../css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="../css/gg_style.css" rel="stylesheet" />

<!-- required libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../lib/bootstrap.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
      var cookieEnabled = (navigator.cookieEnabled) ? true : false; 
      if (typeof navigator.cookieEnabled == "undefined" && !cookieEnabled)
      { 
        document.cookie="testcookie";
        cookieEnabled = (document.cookie.indexOf("testcookie") != -1) ? true : false;
      }
      function setLang(lang){
    	  window.location.search = '?lang='+lang;
      }
      /*]]>*/
    </script>
</head>

<body>
	<div id="myBody">
		<div id="my-big-menu" class="navbar navbar-default navbar-fixed-top"
			role="navigation">
			<div class="container">
				<div class="row" align="center">
					<div class="col-md-8 col-md-offset-2">
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li><a> <img height="22" src="../img/foglia.svg"/> </a></li>

								<li th:class="${view == 'prizes' ? 'active' :''}"><a th:href="|./prizes?lang=${lang}|"  th:text="#{web.prizes}">Premi</a></li>
								<li th:class="${view == 'rules' ? 'active' :''}"><a th:href="|./rules?lang=${lang}|"  th:text="#{web.rules}">Regole</a></li>
								<li th:class="${view == 'privacy' ? 'active' :''}"><a th:href="|./privacy?lang=${lang}|"  th:text="#{web.privacy}">Privacy</a></li>
                <li th:class="${view == 'faq' ? 'active' :''}"><a th:href="|./faq?lang=${lang}|"  th:text="#{web.faq}">FAQ</a></li>

							</ul>
							<ul class="nav navbar-nav navbar-right">
							  <li th:class="${lang == 'it' ? 'active' :''}"><a href="#" onclick="setLang('it')">IT</a></li>
								<li th:class="${lang == 'en' ? 'active' :''}"><a href="#" onclick="setLang('en')">EN</a></li>
							</ul>
						</div>
						<!-- /.nav-collapse -->
					</div>
				</div>
			</div>
			<!-- /.container -->
		</div>
		<!-- /.navbar -->
    <div id="my-small-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <div class="navbar-header"> 
            <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >
                      <img height="22" src="../img/navMobile.svg"/>
                    </a>
                    <ul class="dropdown-menu" role="menu">
			                <li th:class="${view == 'prizes' ? 'active' :''}"><a href="./prizes"  th:text="#{web.prizes}">Premi</a></li>
			                <li th:class="${view == 'rules' ? 'active' :''}"><a href="./rules"  th:text="#{web.rules}">Regole</a></li>
			                <li th:class="${view == 'privacy' ? 'active' :''}"><a href="./privacy"  th:text="#{web.privacy}">Privacy</a></li>
                      <li th:class="${view == 'faq' ? 'active' :''}"><a href="./faq"  th:text="#{web.faq}">FAQ</a></li>
                    
			                <li class="divider"></li>
			                <li th:class="${lang == 'it' ? 'active' :''}"><a href="#" onclick="setLang('it')">IT</a></li>
			                <li th:class="${lang == 'en' ? 'active' :''}"><a href="#" onclick="setLang('en')">EN</a></li>
                      <li class="divider"></li>
                    </ul>
                  </li>
               </ul>
          </div>
        </div>
      </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 nopadding">
					<div class="panel panel-default homepanel">
						<div class="panel-body nopadding">
							<div class="view_body_wrapper">
							
							<!-- PREMI -->
							 <div th:if="${view == 'prizes'}">
						      <div class="row">
						        <div class="col-xs-12">
						          <div id="my-rules-head-title" align="center">
						            <span th:text="#{web.prizes.left_menu}">PREMI</span>
						          </div>
						          <div class="panel panel-success-trasparent" align="justify" th:if="${weeklyPrizes != null}">
						             <div class="panel-body">
						            <h4 th:text="#{web.prizes.week_prize_title}">Premi settimanali</h4>
						            <div align="justify">
						              <span th:text="#{web.prizes.week_prize_text(${week})}">I premi della X^a settimana sono:</span><br/>
						              <ul>
						                <li th:each="prize : ${weeklyPrizes}"><b th:text="${prize.prize}">prize</b>: <span th:text="${prize.target}">classification</span>;</li>
						              </ul>
						            </div>
						             </div>   
						          </div>
						          <div class="panel panel-success-trasparent" align="justify">
						             <div class="panel-body">
						            <h4  th:text="#{web.prizes.global_prize_title}" ></h4>
						            <div align="justify" th:utext="#{web.prizes.global_prize_text}">
						            </div>
						             </div>   
						          </div>  
						        </div>
						      </div>
						    </div>
              <!-- REGOLE -->
               <div th:if="${view == 'rules'}">
                  <div class="row">
                    <div class="col-xs-12">
                      <div id="my-rules-head-title" align="center">
                        <span th:text="#{web.rules.left_menu}">PREMI</span>
                      </div>
                      <div class="panel panel-success-trasparent" align="justify">
                         <div class="panel-body">
	                        <h4  th:text="#{web.rules.title1}" ></h4>
	                        <div align="justify" th:utext="#{web.rules.text1}">
	                        </div>
                          <h4  th:text="#{web.rules.title2}" ></h4>
                          <div align="justify" th:utext="#{web.rules.text2}">
                          </div>
                          <h4  th:text="#{web.rules.title3}" ></h4>
                          <div align="justify">
                            <span  th:utext="#{web.rules.text3}"></span>
                          </div>
                         </div>   
                      </div>  
                    </div>
                  </div>
               </div>
                							
              <!-- PRIVACY -->
               <div th:if="${view == 'privacy'}">
                  <div class="row">
                    <div class="col-xs-12">
                      <div id="my-rules-head-title" align="center">
                        <span th:text="#{web.privacy.left_menu}">PRIVACY</span>
                      </div>
                      <div class="panel panel-success-trasparent" align="justify">
                         <div class="panel-body">
                          <h3 class="text-center">FERRARA PLAY&GO - PRIVACY POLICY</h3>
                          <div align="justify">
                            <h5>Aggiornamento 28 aprile 2021</h5>
                            
                            <p>Ferrara Play&Go è una App che permette di tracciare spostamenti effettuati in mobilità integrata e
                            multimodale (per esempio bus, treno, bici, piedi, battello, car pooling e combinazioni di questi) ed è
                            utilizzata nel contesto di campagne di mobilità sostenibile per assegnare punti e premi in base agli
                            spostamenti correttamente registrati dai partecipanti.</p>
                            <p>Al fine di permettere lo svolgimento delle campagne Ferrara Play&Go, si rendono necessari la raccolta ed il
                            trattamento delle informazioni relative al tracciato dei viaggi effettuato tramite la App e ai risultati del gioco.</p>
                            
                            <h4 class="text-center">INFORMATIVA IN MERITO AL TRATTAMENTO DEI DATI PERSONALI</h4>
                            <p>Ai sensi dell’art. 13 del Regolamento UE n. 2016/679 (GDPR), ed in generale in osservanza del principio di
                            trasparenza previsto dal Regolamento medesimo, di seguito forniamo le informazioni in merito al
                            trattamento dei dati personali nell’ambito del Gioco Ferrara Play&Go (da qui in avanti “Gioco”), promosso
                            dalla Fondazione Bruno Kessler nel contesto del progetto EIT Climate KIC - Landscape Metropolis.</p>
                            
                            <h5>1. FINALITÀ DEL TRATTAMENTO</h5>
                            <p>Il trattamento dei Suoi dati personali avviene nell’ambito del Gioco ed avrà le seguenti finalità:</p>
                            <ol>
                            <li>registrare gli utenti e permetterne la partecipazione al Gioco;</li>
                            <li>garantire il corretto funzionamento dell’applicazione;</li>
                            <li>consentire l’espletamento, la documentazione e il miglioramento delle attività del Gioco;</li>
                            <li>tracciare e validare i viaggi tramite app;</li>
                            <li>generare sfide personalizzate;</li>
                            <li>assegnare e consegnare premi/incentivi economici;</li>
                            <li>provvedere a scopi di ricerca scientifica, storica e a fini statistici.</li>
                            </ol>
                            
                            <h5>2. OBBLIGATORIETÀ DEL CONFERIMENTO DEI DATI</h5>
                            <p>La base giuridica del trattamento è il consenso esplicitato al primo utilizzo dell’applicazione.</p>
                            <p>Tutte le finalità del trattamento sono riconducibili allo svolgimento del Gioco. Pur non sussistendo alcun
                            obbligo di conferimento dei dati, il mancato conferimento comporterà l’impossibilità di procedere con
                            l’accesso all’applicazione e quindi di partecipare al Gioco.</p>
                            
                            <h5>3. TIPOLOGIA DI DATI TRATTATI</h5>
                            <p>Per le esigenze di gestione del Gioco potranno essere oggetto di trattamento le seguenti categorie di dati:</p>
                            <ol>
                            <li>dati anagrafici e dati di contatto;</li>
                            <li>dati di geolocalizzazione;</li>
                            <li>dati relativi al comportamento (modalità di spostamento, numero di Km percorsi, risultati di gioco).</li>
                            </ol>
                            <p>I dati del profilo pubblico (Google, Facebook, Smart Community) dell’utente potrebbero essere utilizzati per
                            personalizzare la app.</p>
                            <p>L’indirizzo di posta elettronica dell’utente viene utilizzato anche quale strumento per l’identificazione
                            univoca dell’utente all’interno dei sistemi di Smart Community.</p>
                            <p>L’immagine dell’interessato risultato vincitore di un premio potrebbe essere trattata dal Titolare e/o dai
                            partners per l’erogazione di un premio personalizzato.</p>
                            
                            <h5>4. MODALITÀ DEL TRATTAMENTO</h5>
                            <p>Il trattamento sarà effettuato:</p>
                            <ul>
                            <li>mediante l’utilizzo di sistemi manuali e automatizzati;</li>
                            <li>da soggetti autorizzati all’assolvimento di tali compiti, ai sensi di legge;</li>
                            <li>con l’impiego di misure adeguate a garantire la riservatezza dei dati ed evitare l’accesso agli stessi da
                            parte di terzi non autorizzati;</li>
                            <li>in contesti che non pregiudicano la dignità personale ed il decoro dell’interessato, assicurando le
                            dovute accortezze per garantirne la riservatezza nell’utilizzo.</li>
                            </ul>
                            <p>Non è previsto alcun processo decisionale automatizzato, né alcuna attività di profilazione.</p>
                            
                            <h5>5. DURATA DEL TRATTAMENTO</h5>
                            <p>I dati verranno conservati fino alla ricezione della richiesta di cancellazione degli stessi da parte dell’utente
                            e in ogni caso per un periodo non superiore a quello necessario per adempiere agli obblighi o i compiti di
                            cui al punto 1, e comunque per perseguire le specifiche finalità ivi indicate, con cancellazione graduale dei
                            dati riconducibili alle specifiche finalità via via non più perseguite.</p>
                            <p>In alcuni casi, i dati potrebbero essere conservati anche a seguito della chiusura dell’account, ad esempio
                            nei backup o nel sistema di Disaster Recovery o, in forma aggregata e anonima, qualora fossero stati
                            utilizzati per motivi di ricerca scientifica.</p>
                            
                            <h5>6. COMUNICAZIONE DEI DATI</h5>
                            <p>I dati raccolti ed elaborati potranno essere comunicati, in maniera esemplificativa e non esaustiva,
                            esclusivamente per le suddette finalità specificate, a:</p>
                            <ul>
                            <li>Pubbliche Amministrazioni,</li>
                            <li>Enti finanziatori,</li>
                            <li>Partner di progetto,</li>
                            <li>Enti promotori.</li>
                            </ul>
                            <p>I dati personali non sono soggetti a diffusione.</p>
                            <p>Per esclusive finalità di divulgazione scientifica dei risultati statistici e/o scientifici (ad esempio mediante
                            pubblicazione di articoli scientifici e/o la creazione di banche dati, anche con modalità ad accesso aperto,
                            partecipazione a convegni, ecc.), i dati potranno essere diffusi in forma anonima e aggregata e sempre
                            secondo modalità che non rendano identificabile l’Interessato.</p>
                            
                            <h5>8. LUOGO DI TRATTAMENTO DEI DATI</h5>
                            <p>L’attività di trattamento dei dati personali avviene principalmente sul territorio dell’Unione Europea, oppure
                            con l’ausilio di strumenti informatici che comportano il trattamento in Paesi per i quali la Commissione ha
                            assunto decisione di adeguatezza della protezione dei dati personali.</p>
                            
                            
                            <h5>9. DIRITTI DELL’INTERESSATO</h5>
                            <p>L’interessato ha diritto di chiedere in ogni momento al Titolare per esercitare i diritti di cui agli artt. 15 e ss.
                            del GDPR e, in particolare:</p>
                            <ul>
                            <li>chiedere la conferma dell’esistenza o meno di propri dati personali;</li>
                            <li>ottenere le indicazioni circa le finalità del trattamento, le categorie dei dati personali, i destinatari o le
                            categorie di destinatari a cui i dati personali sono stati o saranno comunicati e, quando possibile, il
                            periodo di conservazione;</li>
                            <li>ottenere la rettifica e la cancellazione dei dati;</li>
                            <li>ottenere la limitazione del trattamento;</li>
                            <li>opporsi al trattamento in qualsiasi momento.</li>
                            </ul>
                            <p>Ha il diritto, inoltre, di revocare il consenso in qualsiasi momento senza pregiudicare la liceità del
                            trattamento basato sul consenso prestato prima della revoca.</p>
                            <p><b>Per l’esercizio dei suddetti diritti è possibile scrivere a</b>: <a href="mailto:playandgo@smartcommunitylab.it" target="_blank">playandgo@smartcommunitylab.it</a>
                            Resta salvo il diritto di proporre reclamo al Garante per la protezione dei dati personali.</p>
                            
                            <h5>10. TITOLARE DEL TRATTAMENTO</h5>
                            <p>Il Titolare del trattamento dei dati personali è la Fondazione Bruno Kessler, con sede a Trento, via Santa
                            Croce, 77 - +39.0461.314.621-227 – <a href="mailto:segr.presidenza@fbk.eu" target="_blank">segr.presidenza@fbk.eu</a></p>
                            
                            <h5>11. DATI DI CONTATTO DEL RESPONSABILE DELLA PROTEZIONE DEI DATI PERSONALI</h5>
                            <p>Il Responsabile della Protezione dei Dati personali (DPO) designato dal Titolare ai sensi dell’art. 37 del
                             GDPR è contattabile attraverso i seguenti canali: +39.0461.314.370 - <a href="mailto:privacy@fbk.eu" target="_blank">privacy@fbk.eu</a>.</p>
                             
                             <br>
                             <p><b>Aggiornamento del 28 aprile 2021</b></p>
                          </div>
                         </div>   
                      </div>  
                    </div>
                  </div>
               </div>

              <!-- FAQ -->
               <div th:if="${view == 'faq'}">
                  <div class="row">
                    <div class="col-xs-12">
                      <div id="my-rules-head-title" align="center">
                        <span th:text="#{web.faq.left_menu}">FAQ</span>
                      </div>
                      <div class="panel panel-success-trasparent" align="justify">
                         <div class="panel-body">
                          <h4  th:text="#{web.faq.title1}" ></h4>
                          <div align="justify">
                            <span  th:utext="#{web.faq.text1}"></span>
                          </div>
                         </div>   
                      </div>  
                    </div>
                  </div>
               </div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  <script src="../js/cookiechoices.js"></script>
	<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    cookieChoices.showCookieConsentBar("I cookie ci aiutano ad erogare servizi di qualita'. Utilizzando i nostri servizi, l'utente accetta le nostre modalita' d'uso dei cookie.",
      'OK', 'MAGGIORI INFORMAZIONI', 'cookie_licence');
  });
</script>
</body>

</html>