<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
<!--     	<link href="../../webapp/css/bootstrap.css" rel="stylesheet" /> -->
<!-- 		<link href="../../webapp/css/bootstrap-theme.min.css" rel="stylesheet" /> -->
        <title th:remove="all">Play&amp;Go Module</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    	<div class="container-fluid">
    		<div class="row" style="width:700px">
    			<div class="col-md-6" >
				    <div style="margin: 50px 5px 5px 5px" align="center">
				    	<table style="padding: 20px;">
				    		<tr>
				    			<td valign="middle" align="center">
				    				<img src="img/foglie03.png" th:src="'cid:' + ${imageRNFoglie03}" width="60px" alt="" title="" />
				    			</td>
				    			<td rowspan="2" valign="middle" align="center">
									<h2>
										<font face="Raleway">Trento e Rovereto</font>
									</h2>				    			
									<h1>
										<font face="Raleway-bold" size="48" color="gray"><strong>Play&amp;Go</strong></font>
									</h1>
								</td>
				    			<td></td>
				    		</tr>
				    		<tr>
				    			<td></td>		
								<td valign="middle" align="center">
									<img src="img/foglie04.png" th:src="'cid:' + ${imageRNFoglie04}" width="60px" alt="" title="" />
				    			</td>
							</tr>
						</table>
					</div>
				</div>
	    	</div>
	    	<div class="row" style="width:700px">
	    		<div class="col-md-6 col-md-offset-1">
			        <h3 th:text="#{greeting(${name})}">
			            Hello Utente,
			        </h3>
			        <p style="font-size: 1.17em" th:if="${show_survey_ok} == true">
			        	Our game is now over; thanks a lot for your participation and the precious feedback you provided us by filling our final QUESTIONNAIRE!
			        </p>
			        <p style="font-size: 1.17em" th:if="${show_survey_ok} == false">
			        	Our game is now over; thanks a lot for your participation!<br/>
			        	You still have time to provide us with your feedback on Play&amp;Go, by filling the final QUESTIONNAIRE you can find at this link:  <u><b><a href="https://tn.smartcommunitylab.it/gamificationweb" th:href="${surveyLink}" target="_blank"><span th:text="${surveyLinkShort}">https://tn.smarcommunitylab.it/gamificationweb/compile_survey</span></a></b></u>.
			        	That feedback is very important to give us your previous advice, and new ideas about the game.
			        </p>
			        <p style="font-size: 1.17em">
			        	In the attachment you can find the <b>certficate of participation</b> to Trento e Rovereto Play&amp;Go. We thought to issue it via email to avoid using additional resources, and be even more "green".
			        </p>
			        <div th:if="${show_final_event} == true">
				        <p style="font-size: 1.17em">
				        	We hope to see you at the <b>final event on Friday, March 16th at 17:00 at the Bicigrill in Trento sud</b>: all players that will attend the event can participate in the final drawing of many prizes!
				        </p>
			        </div>
			        <p style="font-size: 1.17em">
			        	Keep moving in healthy and sustainable ways, and you'll do your part in making your city smarter.
			        </p>
			        <p style="font-size: 1.17em">
			            Happy playing!<br/>
						&emsp;<em>Play&amp;Go staff</em>
			        </p>
		        </div>
	        </div>
        </div>
        <footer>
        	<br />
        	<br />
        	<br />
<!--         	<div class="row">
	    		<div class="col-md-6 col-md-offset-1">
					<img src="img/footer.png" width="650px" th:src="'cid:' + ${imageResourceName}" alt="" title="" />
				</div>
			</div> -->
		</footer>
    </body>
</html>
