<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593393059512-hlehbganu86qqi1pr8jb2deknfllmvlc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593393059512-hlehbganu86qqi1pr8jb2deknfllmvlc</string>
	<key>API_KEY</key>
	<string>AIzaSyDPARu3HZ3zXRbsv5DF7_jo0EY-VSGP8wc</string>
	<key>GCM_SENDER_ID</key>
	<string>593393059512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.smartcommunitylab.playgoferrara</string>
	<key>PROJECT_ID</key>
	<string>playgoferrara</string>
	<key>STORAGE_BUCKET</key>
	<string>playgoferrara.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593393059512:ios:347695125ca1dd18ac964d</string>
	<key>DATABASE_URL</key>
	<string>https://playgoferrara.firebaseio.com</string>
</dict>
</plist>