	<div id="console" class="console" >
	   <div class="container">
	   <div class="row">
	     <div class="col text-right">
         <button class="btn btn-primary" ng-click="loadWeek()">Custom week 50</button>
	       <button class="btn btn-primary" ng-click="loadLast50()">Last week 50</button>
         <button class="btn btn-primary" ng-click="loadGlobal50()">Global 50</button>
	     </div>
	   </div>
	   
	   <table class="table">
	     <thead>
	       <tr><th>ID</th><th>Nickname</th><th>Email</th><th>Name</th></tr>
	     </thead>
	     <tbody>
	       <tr ng-repeat="u in users"><td>{{u.playerId}}</td><td>{{u.nickname}}</td><td>{{u.mail}}</td><td>{{u.name}} {{u.surname}}</td></tr>
	     </tbody>
		 </table>	
		 </div>
	</div>
